.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.left {
    width: 36.75rem;
    height: 100vh;
    /* position: absolute; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    color: #fff;
}

.right {
    width: 53.25rem;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    gap: 1rem;
}

.signin {
    Width: 24.0625rem;
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* height: 2.75rem;
right: 26.25rem;
top: 5.5625rem;
} */
}
.sign{
    font-size: 1rem;
   
   
}
.account{
    font-size: 0.8rem;
    
}

.btnmain {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    gap: 1rem;
}

.gbtn {
    width: 11.25rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: none;
    background-color: #fff;
    color: #999999;

}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    Width: 20.3125rem;
    Height: 19.8125rem;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    gap: 1rem;
    padding: 1.875rem;
}

.input {
    width: 20.3125rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
    padding-left: 1rem;
}

.sbtn {
    width: 20.3125rem;
    height: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

p {
    color: #858585;
}